@font-face{
    font-family: 'IranYekan';
    src: url("../fonts/IRANYekanWebRegular.woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IranYekan", Tahoma, sans-serif;
}
#render{
    display: flex;
}
#wrapper {
    padding: 1rem;
}
.url {
    direction: ltr;
    width: 100%;
    padding: .5rem;
}
#render button{
    padding: .5rem;
}
#result .html{
    direction: ltr;
    width: 100%;
    resize: vertical;
    padding: .5rem;
}
img{
    max-width: 100%;
}
#result .desc{
    font-size: 1.2rem;
}